body {
    background-image: url("back.jpeg");
    font-family: Arial, sans-serif;
    background-color: rgb(241, 243, 245);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.age-calculate {

    background-image: url("calss.jpg");
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
}

.input-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #fffbfb;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#calculateAge {
    font-size: 18px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bold;
    background-color: rgb(15, 74, 74);
}
